<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.daveberzack.hobnob"
        versionCode = "10"
        version     = "1.1.0">

    <name>HobNob</name>
    <description>The Game about Making Friends</description>
    <author email="hobnob@daveberzack.com" href="http://daveberzack.com">Dave Berzack</author>

    <preference name="android-minSdkVersion" value="14" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="phonegap-version" value="3.6.3" />

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.media-capture" />

</widget>